config/gtk-3.0/bookmarks
config/nvim/plugin/packer_compiled.lua
vim/autoload
vim/bundle
*.o
*.hi
.netrwhist
*.tar.*
*.zip
local/ports/*/*
!Makefile
.cli


xmonad-x86_64-linux
xmonad.errors
xmonad.state
