/* remove window title from Client-Side Decorations */
.solid-csd headerbar .title {
    font-size: 0;
}

/* hide extra window decorations/double border */
window decoration {
    margin: 0;
    border: none;
    padding: 0;
}

menu {
    border-radius: 18;
}

.thunar {
	background-color: rgba(30, 30, 48, 0.26);
}
.thunar * {
	background-color: rgba(30, 30, 48, 0);
}
